{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}SmartKrishi{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'smartkrishi_app/css/style.css' %}">
</head>
<body>

  <!-- Header -->
  <header>🌿 SmartKrishi- AI-Based Crop Doctor & Farmer Advisor </header>

  <!-- Navigation Bar with dynamic URLs -->
  <nav>
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'disease' %}">Disease Prediction</a>
  </nav>

  <!-- Page Content Block -->
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>

</body>
</html>
